.storycard {
    -fx-font: 14px "Verdana";
    -fx-background-color: #CCFF99;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.storycard-inner {
    -fx-padding: 3;
}

.storycard-button-container {
    -fx-padding: 2 0;
}

.add_task_button {
    -fx-font: 10px "Verdana";
}

.add_task_button-container {
    -fx-padding: 0 2;
}
